<div id="footer">
  <div class="shell">

    <a href="/">OhScenario.com</a>
    &nbsp;<span>/</span>&nbsp;&nbsp;<a href="/help">Contact Us</a>
    <!-- &nbsp;<span>/</span>&nbsp;&nbsp;<a href="https://app.OhScenario.com/users/sign_up" target="_blank">Sign Up</a> -->
    <!-- &nbsp;<span>/</span>&nbsp;&nbsp;<a href="https://app.OhScenario.com/users/sign_in" target="_blank">Sign In</a> -->
    <div class="footer-right">
        Copyright &copy; 2010&ndash;2015 OhScenario!
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/js/zepto.min.js"></script>
<script type="text/javascript" src="/assets/js/run.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>

<script src="//cdn.remetric.com/marketing.js"
  data-marketing-js="oh-scenario"
  async="true"
></script>
