<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>OhScenario!</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="canonical" href="http://OhScenario.com/">
  <link rel="alternate" type="application/rss+xml" title="OhScenario.com" href="http://OhScenario.com/feed.xml" />

  <link rel="apple-touch-icon" sizes="120x120" href="/assets/imgs/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/imgs/touch-icon-ipad-retina.png">
  <link rel="shortcut icon" href="/assets/imgs/favicon.ico" />

  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
