<div id="header">
  <div class="shell">
    <h1 id="logo"><a href="/"></a></h1>
    <ul id="main-navigation">
      <div class="menu-main-navigation-container">
        <ul id="menu-main-navigation" class="main-navigation">
          <li id="menu-item-344" class="support menu-item menu-item-type-custom menu-item-object-custom menu-item-344">
            <a href="/help">Have a question?</a>
          </li>
          <!-- <li id="menu-item-344" class="support menu-item menu-item-type-custom menu-item-object-custom menu-item-344">
            <a href="/pricing">Pricing</a>
          </li> -->
          <li id="menu-item-64" class="signup menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
            <a href="https://app.OhScenario.com/users/sign_up" target="_blank">Free 14-Day Trial</a>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</div>
